---
import Etcetera from "../components/Etcetera.astro"
import Layout from "../layouts/Layout.astro"
import wavesmiley from "../assets/wave.gif"
import { Picture } from "astro:assets"
const people: readonly {
	name: string
	href?: string
	role: string
	country: string
}[] = [
	{
		name: "Jack",
		href: "https://jack.cab",
		role: "founder, designer, & fullstack developer",
		country: "🇺🇸",
	},
	{
		name: "Charlie",
		href: "https://coolviruses.download/@charlie",
		role: "founder & backend developer",
		country: "🇬🇧",
	},
	{
		name: "split",
		href: "https://me.fyle.uk",
		role: "designer & fullstack developer",
		country: "🇺🇸",
	},
	{
		name: "Wavi",
		href: "https://fur.dev",
		role: "fullstack developer",
		country: "🇬🇧",
	},
	{
		name: "mau",
		href: "https://github.com/maumaumaumaumaumau",
		role: "backend developer",
		country: "🇨🇱",
	},
	{
		name: "Malice",
		href: "https://maliciousmeaning.dev",
		role: "designer & fullstack developer",
		country: "🇳🇿",
	},
	{
		name: "aa",
		href: "https://aagaming.me",
		role: "fullstack developer",
		country: "🇺🇸",
	},
	{
		name: "xzen",
		role: "scapegoat",
		country: "🇺🇸",
	},
].sort((a, b) => a.name.localeCompare(b.name))
---

<Layout
	title="Etcetera"
	description="We write software, usually out of spite. Not-for-profit, always free as in freedom."
>
	<meta name="og:title" content="Etcetera" slot="head" />
	<p>
		We write software, usually out of spite. Not-for-profit, always <a
			href="https://www.gnu.org/philosophy/free-sw"
			title="What is free software?">free as in freedom</a
		>.
	</p>
	<mark>Warning: Methodsave and Oxymoron do not exist.</mark>
	<ul class="bento">
		<li>
			<!-- <article class="featured">
				<h1><a href="/unleashed">Everything unleashed</a></h1>
				<p>
					Method is coming. Today is the largest launch in Etcetera's 3-year
					history. Introducing Methodsave, Retune, monofile v2, Tangent, and
					Oxymoron.
				</p>
			</article> -->
			<Picture src={wavesmiley} class="featured" alt="wavesmiley" width="382" height="225" />
		</li>
		<h2
			style="position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;"
		>
			Projects
		</h2>
		<li>
			<a style="grid-area:methodsave" href="/methodsave">
				<h3>
					<Etcetera>
						<path
							d="m102.637 163.447c-3.01454 0-5.70018 1.91834-6.6594 4.79584l-10.1672 30.4467-32.2006-0.10962c-6.87859-0.0274-9.70127 8.82434-4.08327 12.7706l25.4316 17.9227-10.5234 30.0631c-2.2198 6.3305 4.82326 11.8663 10.4686 8.22144l28.0899-18.1968 27.3226 18.142c5.61799 3.72706 12.7432-1.80871 10.5234-8.13922l-10.5508-30.0905 25.5687-18.0872c5.53577-3.94629 2.76788-12.6884-4.02851-12.7158l-32.6939-0.10962-9.83832-30.0631c-0.93177-2.8775-3.61743-4.82324-6.65936-4.85064z"
						></path>
					</Etcetera> Method<wbr />save
				</h3>
				<p>
					<strong>Bookmarks from the future</strong>, integrated deeply with
					your desktop and apps.
				</p>
			</a>
		</li>
		<li>
			<a href="https://moron.center" style="grid-area:oxymoron">
				<h3>
					<Etcetera>
						<path
							d="m 104.50843,171.04785 c -12.346794,0.51676 -23.641624,7.03159 -30.285634,17.459 -9.00633,14.1739 -7.58525,32.59258 3.48811,45.23467 11.07335,12.60517 29.159834,16.40702 44.385704,9.30162 2.36232,-1.08888 3.39583,-3.91259 2.28849,-6.2749 -1.10733,-2.36232 -3.91258,-3.37738 -6.2749,-2.28849 -11.42401,5.35211 -25.007334,2.50995 -33.312354,-6.97623 -8.32347,-9.46772 -9.3939,-23.30941 -2.60224,-33.92138 6.75475,-10.64888 19.747494,-15.52116 31.835914,-11.99614 12.10687,3.52502 20.43034,14.61683 20.43034,27.22201 -0.0185,0.0554 -0.0185,0.12919 0,0.18455 v 4.54008 c 0,1.69792 -0.90432,3.22973 -2.36232,4.07869 -1.47645,0.84896 -3.26664,0.84896 -4.72463,0 -1.47645,-0.8305 -2.38077,-2.39923 -2.36231,-4.07869 v -4.72463 c 0,-10.3905 -8.52649,-18.89853 -18.89853,-18.89853 -10.390504,0 -18.898534,8.50803 -18.898534,18.89853 0,10.37204 8.50803,18.89853 18.898534,18.89853 4.92764,0 9.3939,-1.97475 12.77126,-5.09375 1.05198,1.25499 2.30695,2.34387 3.76495,3.19282 4.37398,2.52841 9.78146,2.52841 14.17389,0 4.37399,-2.52841 7.0685,-7.21614 7.08695,-12.27297 v -4.72463 c -0.0185,-16.7946 -11.11026,-31.57753 -27.222,-36.30217 -3.96795,-1.14424 -8.0651,-1.64254 -12.18069,-1.45799 z m 1.60564,28.31089 c 5.25984,0 9.44926,4.17097 9.44926,9.44927 0,5.25984 -4.18942,9.44926 -9.44926,9.44926 -5.27831,0 -9.449274,-4.18942 -9.449274,-9.44926 0,-5.2783 4.170964,-9.44927 9.449274,-9.44927 z m 0,0"
						></path>
					</Etcetera> Oxymoron
				</h3>
				<p>
					An ActivityPub server <strong>for morons</strong>.
				</p>
			</a>
		</li>
		<li>
			<a href="https://fyle.uk" style="grid-area:monofile">
				<h3>
					<svg
						version="1.1"
						height="20"
						style="vertical-align:middle"
						viewBox="0 0 3.175 3.9712"
					>
						<defs>
							<linearGradient
								id="gradient"
								x1="39.034"
								x2="42.209"
								y1="121.39"
								y2="121.39"
								gradientTransform="translate(-39.034 -117.68)"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="currentColor" stop-opacity="0" offset="0"
								></stop>
								<stop stop-color="currentColor" offset=".5"></stop>
							</linearGradient>
						</defs>
						<path d="m0 3.442" fill="currentColor"></path>
						<path d="m0 3.442v.52917h3.175v-.52917z" fill="url(#gradient)"
						></path>
						<path
							d="m1.5875 1.9595c-.14573 0-.26458.11885-.26458.26458v.05l-.60668-.60669c-.04961-.0496-.11679-.0775-.18707-.0775s-.13746.0279-.18707.0775c-.10335.10336-.10335.27079 0 .37414l1.0583 1.0583c.10335.10335.27078.10335.37414 0l1.0583-1.0583c.10335-.10335.10335-.27078 0-.37414-.10335-.10335-.27078-.10335-.37414 0l-.60668.60669v-.05c0-.14573-.11886-.26458-.26458-.26458z"
							fill="currentColor"></path>
						<path
							d="m1.899-2.8827e-6h-.57727l-.56825.34727v.53217l.50511-.30217h.01353v1.7318h.62688z"
							fill="currentColor"></path>
					</svg> monofile
				</h3>
				<p>File sharing over the Discord CDN.</p>
			</a>
		</li>

		<li>
			<a style="grid-area:retune" href="https://retune.stream">
				<h3>
					<svg style="vertical-align:sub" viewBox="-40 0 220 226.838">
						<path
							d="M81.167 35.547C88.991 26.155 94.161 13.022 92.722 0 81.52.484 68.016 7.471 59.941 16.874c-7.24 8.315-13.495 21.699-11.815 34.47 12.418.965 25.199-6.385 33.032-15.787"
						></path><path
							d="M46.077 77.432h14.936c2.975 0 5.834.873 8.284 2.508l44.806 29.87c8.868 5.893 8.868 18.962 0 24.854l-44.806 29.871a14.87 14.87 0 0 1-8.284 2.508H46.077Zm0 0"
						></path><path
							d="M112.824 56.078c31.506 18.67 45.158 57.235 32.381 91.542-12.778 34.365-48.31 54.61-84.366 48.134-36.057-6.476-62.254-37.865-62.254-74.506 0-8.226-6.71-14.936-14.936-14.936-8.285 0-14.936 6.71-14.936 14.936 0 51.11 36.523 94.869 86.816 103.912 50.293 9.044 99.828-19.195 117.681-67.096 17.795-47.901-1.225-101.636-45.217-127.658-7.06-4.2-16.22-1.866-20.42 5.25-4.201 7.06-1.867 16.22 5.25 20.422zm0 0"
						></path><path
							d="M7.395 136.418h-41.95c-3.15 0-6.068-1.635-7.643-4.317-1.634-2.744-1.75-6.068-.235-8.869l21.062-39.499c1.4-2.624 4.143-4.26 7.118-4.318 2.976 0 5.718 1.575 7.177 4.201l22.112 39.791c1.517 2.684 1.517 6.01-.115 8.694a8.72 8.72 0 0 1-7.527 4.317zm0 0"
						></path><path
							d="m10.662 83.266-31.214-24.33a8.92 8.92 0 0 1-3.326-8.168c.351-3.09 2.334-5.776 5.251-7.06l35.474-15.636c2.8-1.224 6.068-.873 8.518.933 2.45 1.81 3.793 4.843 3.443 7.877L24.14 77.606c-.35 2.975-2.334 5.601-5.076 6.768a8.393 8.393 0 0 1-8.402-1.108zm0 0"
						></path></svg
					> Retune
				</h3>
				<p>
					A cross-platform music client based on Cider Classic, without the
					bullshit.
				</p>
			</a>
		</li>
	</ul>
	<h2 id="people">People</h2>
	<ul class="root">
		{
			people.map(({ name, href, role, country }) => (
				<li>
					<a {href}>{name}</a>: {role} {country}
				</li>
			))
		}
	</ul>
</Layout>

<style lang="scss">
	@media (min-width: 800px) {
		.root {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1ch;
			list-style-position: inside;
			padding: 0;
		}
	}
	li :global(svg) {
		height: 24px;
		fill: currentColor;
	}
	ul.bento {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1ch;
		padding: 0;

		@media (min-width: 800px) {
			display: grid;
			grid-template-areas:
				"methodsave methodsave oxymoron"
				"monofile more oxymoron"
				"monofile retune retune";
			grid-template-columns: 0.5fr 1fr 0.5fr;
			grid-template-rows: 0.5fr 0fr 0.5fr;
			gap: 10px;
			padding: 0;
		}
		li {
			display: contents;
		}
		li > a {
			display: flex;
			flex-direction: column;
			background: Field;
			color: FieldText;
			border-radius: 8px;
			text-decoration: none;
			@media (prefers-color-scheme: light) {
				background: ButtonFace;
				color: ButtonText;
			}
			p {
				padding-inline: 1rem;
				padding-block: 0;
				padding-bottom: 1ch;
				flex-grow: 1;
				@media (min-width: 800px) {
					padding-bottom: 0;
				}
			}

			h3 {
				padding-inline: 1rem;
				padding-block: 0;
				margin: 0;
				margin-block-start: 1ch;
			}
			img {
				width: 100%;
			}
		}

		.featured {
			grid-area: more;
			max-width: 382px;
			width: 100%;
			margin: auto;
			border-radius: 1ch;
			padding: 1ch;
			box-sizing: border-box;
		}
	}
</style>
