---
import Etcetera from "../components/Etcetera.astro"
type Props = {
	title: string
	description?: string
	frontmatter?: Props
}

const { title, description } = Astro.props.frontmatter ?? Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta property="og:type" content="website" />
		{
			description && (
				<>
					<meta name="description" content={description} />
					<meta name="og:description" content={description} />
				</>
			)
		}
		<meta name="og:site_name" content="ETCETERA DEVELOPMENT" />
		<meta name="og:title" content={title} />
		<meta name="theme-color" content="#6acb5d" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="dark" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<slot name="head" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					{
						Object.entries({
							"ETCETERA DEVELOPMENT": "/",
							TWITTER: "https://x.com/etcetera_dev",
							GITHUB: "https://github.com/mollersuite",
							DISCORD: "https://discord.gg/tzKszGAXT7",
						}).map(([name, href]) => (
							<li>
								<a
									{href}
									aria-current={Astro.url.pathname === href ? "page" : undefined}>
									{name === "ETCETERA DEVELOPMENT" ? (
										<>
											<svg
												xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 173.8 275.72"
												height="20"
												style="vertical-align:middle;overflow:visible"
												fill="currentColor">
												<circle cx="37.13" cy="26.43" r="21.6" />
												<circle
													cx="34.62"
													cy="117.87"
													r="34.62"
													class="middle"
												/>
												<circle
													cx="119.78"
													cy="130.68"
													r="21.6"
													class="middle"
												/>
												<circle cx="127.16" cy="46.64" r="46.65" />
												<circle
													cx="102.68"
													cy="219.58"
													r="56.14"
													class="bottom"
												/>
											</svg>{" "}
										</>
									) : null}
									{name}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>
<style>
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		margin-inline: 8px;
		display: inline-block;
	}
	[aria-current="page"] {
		font-weight: bold;
	}
	a:active {
		background: ActiveText;
		color: black;
	}
</style>
<style is:global>
	@font-face {
		font-family: CommitMono;
		src: url("../fonts/CommitMono-400-Regular.woff2") format("woff2");
		font-weight: 400;
		font-display: swap;
	}
	@font-face {
		font-family: CommitMono;
		src: url("../fonts/CommitMono-400-Italic.woff2") format("woff2");
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: CommitMono;
		src: url("../fonts/CommitMono-700-Regular.woff2") format("woff2");
		font-weight: 700;
		font-display: swap;
	}
	@font-face {
		font-family: CommitMono;
		src: url("../fonts/CommitMono-700-Italic.woff2") format("woff2");
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	:root {
		font-family: CommitMono, monospace;
		max-width: 1200px;
		margin-inline: auto;
		line-height: 1.5;
		text-transform: uppercase;
		accent-color: #6acb5d;
		background: #000;
		color: #fff;
	}
	a {
		background: #6acb5d;
		color: black;
		padding: 0.5ch;
		box-sizing: border-box;
	}
	a:active {
		color: ActiveText;
	}
	h1,
	h2,
	h3 {
		/* font-family: "Inter Display", Inter, sans-serif; */
	}
	code,
	pre {
		font-family: monospace, monospace;
	}
</style>
