---
import Etcetera from "../components/Etcetera.astro"
type Props = {
	title: string
	description?: string
	frontmatter?: Props
}

const { title, description } = Astro.props.frontmatter ?? Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta property="og:type" content="website" />
		{
			description && (
				<>
					<meta name="description" content={description} />
					<meta name="og:description" content={description} />
				</>
			)
		}
		<meta name="og:site_name" content="Etcetera" />
		<meta name="theme-color" content="#6acb5d" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="dark light" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					{
						Object.entries({
							Etcetera: "/",
							// Philosophy: "/philosophy/",
							// "@etc@moron.center": "https://moron.center/@etc"
							"@etc@owo.community": "https://owo.community/@etc",
							Discord: "https://discord.gg/tzKszGAXT7",
						}).map(([name, href]) => (
							<li>
								<a
									{href}
									aria-current={
										Astro.url.pathname === href ? "page" : undefined
									}
								>
									{name === "Etcetera" ? (
										<>
											<Etcetera />{" "}
										</>
									) : null}
									{name}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>
<style>
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		margin-inline: 8px;
		display: inline-block;
	}
	[aria-current="page"] {
		font-weight: bold;
	}
	a {
		font-family: "Inter Display", "Inter", system-ui, sans-serif;
	}
</style>
<style is:global>
	:root {
		font-family: system-ui, sans-serif;
		max-width: 800px;
		margin-inline: auto;
		line-height: 1.5;
		accent-color: #6acb5d;
	}
	h1,
	h2,
	h3 {
		font-family: "Inter Display", "Inter", system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	mark::before {
		content: "⚠ ";
	}
	mark {
		border-radius: 1ch;
		padding-inline: 1ch;
	}
</style>
